<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <meta http-equiv="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title> Concept Before Code </title>
</head>

<body>
<!--Number of Sort Elements: <input type="text" id="max_sort_text">-->
<!--<button type="button" id="maxSortButton">Refresh</button>-->
<!--<div id="options"><h2 class="optionHeader">Options</h2></div>-->
<!-- <div class="folddown_instructions">
    <p>Click on me, I dare you!</p>
</div> -->

<%= render 'layouts/header' %>

<div class="row-fluid removable" id="playElements">
    

    <%= yield %>
</div>






</div>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>
